@import "_preview";
@import "_search";
@import "_top-bar";
@import "_footer";
@import "_colors";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55%;

  .logo, .description, .search, .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
  }

  .logo h1 {
    width: 100%;
    color: #333;
    font-size: 60px;
  }

  .description {
    color: #57565e;
    font-size: 20px;
    width: 100%;
    opacity: .8;
  }

  .tags {
    a {
      padding-right: 20px;
      text-decoration: none;
      color: $link-color;
      font-size: 18px;

      &:hover {
        color: darken($link-color, 10%);
      }
    }
  }

  .search-results {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-self: center;
    margin-top: 15px;

    .search-result img {
      height: 550px;
      width: 800px;
      align-items: center;
      padding: 10px;
    }
  }
}

.search-container-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .search-results {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;

    .search-result img {
      flex: 1 1 18%;
      height: 350px;
      margin: 5px;
      width: 500px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .search-container-row {
    .search-results {
      .search-result img {
        width: 750px;
        height: 500px;
      }
    }
  }
}




